# Docker image to use for Send
# - Latest Send version by @timvisee: registry.gitlab.com/timvisee/send:latest
# - Outdated (archived) Send version by Mozilla: mozilla/send:latest
DOCKER_SEND_IMAGE=registry.gitlab.com/timvisee/send:latest

# Host to expose Send on
HOST=send.example.org

# Base URL for Send
SEND_BASE_URL=https://send.example.org

# Optional: for LetsEncrypt SSL, same as HOST
LETSENCRYPT_HOST=

# Optional: for LetsEncrypt SSL, your email address
LETSENCRYPT_EMAIL=mail@example.org
